DesignPatterns/Sample_AntiForgeryToken/Service References/ServiceReference1/CutterService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WIMI.BTL.CutterService.Cutter.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WIMI.BTL.CutterService.Cutter.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConnectedInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CutterCompensationSide" type="xs:int" />
      <xs:element minOccurs="0" name="FanucCutterCompensationAddress" type="xs:int" />
      <xs:element minOccurs="0" name="FanucCutterCompensationArrayLength" type="xs:int" />
      <xs:element minOccurs="0" name="FanucCutterStartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MachineId" type="xs:int" />
      <xs:element minOccurs="0" name="MachineSystemType" type="xs:int" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="Radius" type="xs:double" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="TValue" type="xs:int" />
      <xs:element minOccurs="0" name="TimeOut" type="xs:int" />
      <xs:element minOccurs="0" name="XAlias" type="xs:double" />
      <xs:element minOccurs="0" name="YAlias" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectedInfo" nillable="true" type="tns:ConnectedInfo" />
</xs:schema>